@import '../../node_modules/vuetify/src/stylus/main'
//Color Set:
$betty-dark = #121212
$betty-light = #bea67c
$betty-light-extra = #faf3e6
$betty-gray = grey
$betty-active = #ffffff

//Text size Set:
$betty-big-title = 36px
$betty-page-title = 24px
$betty-title = 16px
$betty-text = 16px
$betty-meta-info = 14px

$betty-big-title-rb = 18px
$betty-title-rb = 12px
$betty-text-rb = 12px
$betty-meta-info-rb = 10px
